.list-group {
  width: 100%;
  height: 100%;
  list-style-type: none;
  background-color: rgb(30, 30, 30);
  overflow: scroll;
}

.list-group::-webkit-scrollbar {
  width: 0.2rem;
}

.list-group::-webkit-scrollbar-track {
  box-shadow: border-box;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.list-group::-webkit-scrollbar-thumb {
  background-color: rgb(95, 95, 95);
  outline: 1px solid rgb(88, 88, 88);
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 1rem 0 1rem;
  padding: 0.6rem 2rem;
  background-color: rgb(37, 37, 37);
  -webkit-box-shadow: 0px 0px 4px 1px rgb(15, 15, 15);
  -moz-box-shadow: 0px 0px 4px 1px rgb(15, 15, 15);
  box-shadow: 0px 0px 4px 1px rgb(15, 15, 15);
}

.list-category {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
  margin: 1rem;
  padding: 0.75rem;
  border-bottom: 1px solid rgba(255,255,255,0.48);
}

span {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

button {
  height: 40px;
  padding: 1rem;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Droid serif';
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(19, 19, 19);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  transition: background 0.2s;
}

button:hover {
  background: rgb(0, 0, 0);
}