.list-group {
  width: 100%;
  height: 100%;
  list-style-type: none;
  background-color: rgb(75, 75, 75);
  overflow: scroll;
}

.list-group::-webkit-scrollbar {
  width: 0.2rem;
}

.list-group::-webkit-scrollbar-track {
  box-shadow: border-box;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.list-group::-webkit-scrollbar-thumb {
  background-color: rgb(95, 95, 95);
  outline: 1px solid rgb(88, 88, 88);
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

span {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

button {
  width: 100px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Droid serif';
  color: white;
  background: rgb(36, 36, 36);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent; 
}